.suggestion {
    display: grid;
    grid-template-columns: 32px 2fr 1fr;
    align-items: center;
    margin-bottom: 0.5em;

    .avatar {
        justify-content: center;
    }

    .username {
        margin-left: 1em;
    }

    .action {
        justify-content: right;

    }


}

